.period {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
}

.period h2.title {
  display: inline-block;
  width: fit-content;
  cursor: pointer;
}

.period-title input {
  margin-top: 28px;
}

.period .content {
  width: 100%;
}
