.dropdown {
  width: fit-content;
  max-width: 700px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0 12px;
}

.dropdown.open {
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.dropdown.closed {
  width: 256px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown.closed .content {
  display: none;
}

.dropdown .all-transactions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
}

.dropdown .input {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
}

/*
.dropdown .toggle {
  border: none;
}

.dropdown .toggle:hover {
  background-color: rgba(108, 196, 234, 0.3);
}

@media screen and (max-width: 768px) {
  .dropdown .content {
    flex-direction: column;
  }
} */
