.App {
  padding: 0 20px 32px 20px;
}

/* .payments-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.payments-list {
  display: flex;
  gap: 40px;
}

.list {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .payments-content {
    flex-direction: column;
  }

  .payments-list {
    flex-direction: column;
  }
} */

input[type="date"] {
  height: 30px;
  border-color: rgba(128, 128, 128, 0.2);
  border-radius: 3px;
  padding: 0 4px;
}
