.payments-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.payments-list {
  display: flex;
  gap: 40px;
}

.list {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .payments-content {
    flex-direction: column;
  }

  .payments-list {
    flex-direction: column;
  }
}
