html,
body,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 20px 20px 20px;
}

h1 {
  margin-top: 30px;
}

h2 {
  margin-top: 20px;
}

h3 {
  margin-top: 8px;
}

button {
  border: 1px solid rgb(75, 75, 75);
  border-radius: 6px;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: max-content;
}

button:disabled {
  cursor: not-allowed;
}

button:not(:disabled):hover {
  border-width: 2px;
}

.error {
  color: red;
  border-color: red;
}

table {
  table-layout: fixed;
  border: 1px solid #1b1b1b;
  border-collapse: collapse;
  vertical-align: middle;
  overflow-x: auto;
  border: none;
}

caption {
  text-align: left;
  font-weight: 700;
}

th:not(:first-child),
td:not(:first-child) {
  padding: 4px 6px;
  text-align: left;
}

th:first-child,
td:first-child {
  padding-top: 3px;
}

th {
  line-height: 1.2;
}

tbody tr {
  border-top: 1px solid;
}

td {
  text-align: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 10px 20px 10px;
  }
}
